
//Open sans Font

@font-face{
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-family: open-sans-reg;
}

@font-face{
    src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
    font-family: open-sans-bold;
}



//Source-sans Font

@font-face{
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    font-family: src-sans-reg;
}

@font-face{
    src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
    font-family: src-sans-bold;
}

