.header{
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: 0.3s linear;
    &.scroll{
        padding: 20px 25px;
        background-color: black;
    }
    .img-logo{
        width: 60px;
        height: 60px;
        cursor: pointer;
        transition: all 0.3s linear;
        &.scroll{
            width: 40px;
            height: 40px;
        }
    }
    .img-avatar{
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }
}

@media (max-width:550px) {
    .header .img-logo {
        width: 45px;
        height: 40px;
        &.scroll{
            width:35px;
            height: 30px;
        }
    }

}